@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
}

ul ol {
  list-style: none;
}
.layout {
  min-height: 100vh;

  .header {
    background: #fff;
    border-bottom: 1px solid #e3ebec;
    position: relative;
    box-shadow: 0 2px 4px rgba(27, 31, 35, 0.15);
  }
  .main {
    height: 100%;
    background: #fff;
    padding: 50px;
  }
  .content-1200 {
    width: 1200px;
    margin: 0 auto;
  }
  .footer {
    background: #f0f3f5;
    height: 50px;
    line-height: 50px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}
